/**
 * @Author: wenhao.huang
 * @UserId: 18073766
 * @Create: 2019-04-25 11:40:27
 */

$font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

$--color-primary: #31adf5;
$--color-main: #0e376f;
$--color-danger: #f56c6c;
$--color-warning: #e6a23c;
$--color-success: #67c23a;
